<% include ../partials/header %>
<section class="ui basic segment">

  <script src="https://unpkg.com/vue-hotel-datepicker@2.2.4/dist/vue-hotel-datepicker.min.js"></script>
  <script>
    Vue.component('hoteldatepicker', HotelDatePicker.default);
  </script>
  <header>
    <h1>Progressively Enhanced Forms | Vue</h1>
  </header>

  <main class="ui two column grid ">
    <div class="column">
      <form class="ui form column" action="/datepicker" method="POST">
        <%- include('../partials/field', {label: 'Stay Dates', name: 'staydates', type:'daterange', required: true, validationErrors: {}})  %>
        <button type="submit">Submit</button>
        <pre>
staydates: {{staydates}}
        </pre>
      </form>
    </div>

  </main>

  <script type="text/x-template" id="ud-component-daterangepicker-template">
    <div>
      <hoteldatepicker
        :startingDateValue="(value && value.start) ? new Date(value.start) : undefined"
        :endingDateValue="(value && value.end) ? new Date(value.end) : undefined"
        @checkInChanged="onCheckinChanged"
        @checkOutChanged="onCheckoutChanged"
        v-bind="$attrs"
      ></hoteldatepicker>
      <input type="hidden" :value="startDate" :name="submitAs.start">
      <input type="hidden" :value="endDate" :name="submitAs.end">
    </div>
  </script>

  <script src="/datepicker.js"></script>

</section>
<% include ../partials/footer %>

<!-- GOAL: post start_date and end_date to /datepicker -->
