            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- import external dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js"></script>

  </body>
</html>
