<title>PRESS Test Site</title>
<meta name="description" content="Progressively Enhanced Forms | Vue">
<link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- These are UrbanDoor's Semantic UI styles. You don't want them -->
<link rel="stylesheet" href="https://provider.urbandoor.com/assets/ui/main-6430bdc576261e61a82d583daedd8d78f46ebcd6ff62c864235ddd614436c2bd.css">
