<title>Progressively Enhanced Forms | Vue</title>
<meta name="description" content="Progressively Enhanced Forms | Vue">
<link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://provider.urbandoor.com/assets/ui/main-6430bdc576261e61a82d583daedd8d78f46ebcd6ff62c864235ddd614436c2bd.css">
<!-- import the webpage's stylesheet -->
<link rel="stylesheet" href="/style.css">

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js" integrity="sha256-/GKyJ0BQJD8c8UYgf7ziBrs/QgcikS7Fv/SaArgBcEI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
<script>
  Vue.use(VeeValidate);
</script>
