<% include ../partials/header %>
<section class="ui basic segment">
  <header>
    <h1>PRESS Test Site</h1>
    <h2>Static Value</h2>
  </header>

  <main class="ui two column grid">
    <div class="ui column">
      <h3>Code Under Test</h3>
      <press-static-value id="notnested" press-key-path="email" press-value="unnested@example.com"></press-static-value>
      <press-static-value id="nested" press-key-path="user[email]" press-value="nested@example.com"></press-static-value>
      <press-static-value id="normalizednested" press-key-path="user.secondaryemail" press-value="normalizednested@example.com"></press-static-value>
      <press-static-value id="novalue" press-key-path="empty"></press-static-value>
      <press-static-value id="nestednovalue" press-key-path="nested.empty"></press-static-value>
      <press-static-value id="deepnestedempty" press-key-path="a[b][c]"></press-static-value>
      <press-static-value id="deepnestedvalue" press-key-path="d[e][f]" press-value="1"></press-static-value>
    </div>

    <div class="ui column">
      <table>
        <caption>Values in this table were provided via JS</caption>
        <thead>
          <tr>
            <th></th>
            <th>name</th>
            <th>value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Unnested Value</th>
            <td>email</td>
            <td id="render-notnested">{{email}}</td>
          </tr>
          <tr>
            <th>Nested Value with simple_form style keypath</th>
            <td>user[email]</td>
            <td id="render-nested">{{user.email}}</td>
          </tr>
          <tr>
            <th>Nested value with normalized keypath</th>
            <td>user.secondaryemail</td>
            <td id="render-normalizednested">{{user.secondaryemail}}</td>
          </tr>
          <tr>
            <th>Empty value</th>
            <td>empty</td>
            <td id="render-novalue">{{empty}}</td>
          </tr>
          <tr>
            <th>Empty value with normalized keypath</th>
            <td>nested.empty</td>
            <td id="render-nestednovalue">{{nested.empty}}</td>
          </tr>
          <tr>
            <th>Deep Nested Empty Value</th>
            <td>nested.empty</td>
            <td id="render-deepnestedempty">{{a.b.c}}</td>
          </tr>
          <tr>
            <th>Deep Nested Value</th>
            <td>nested.empty</td>
            <td id="render-deepnestedvalue">{{d.e.f}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</section>
<% include ../partials/footer %>
